:root {
  --primary-color: #397AF5;
  --secondary-color: #EDF2FF;
  --app-background: #F4F4F4;
  --border-color: #e1e1e1;
  --accent-background: #fff;
  --primary-text-color: #000;
  --secondary-text-color: #949494;
  --app-elements-radius: 12px;
}